@import '../vars.scss';
@media screen and (max-width:1920px){
  .consider{
    &__input{
      background-color: black;
      border: 0px;
      border-bottom: $borde-blanco;
      border-radius: 0px;
      color: white;
      margin-bottom: 60px;
      &::placeholder{
        color: white;
      }
      &:focus {
        outline:none;
      }
      &:active {
        outline:none;
      }
      &--textarea{
        border-radius: 25px;
        border: $borde-blanco;
        color: white;
        &:focus {
          color: white;
        }
        &:active {
          color: white;
        }
      }
    }
    &__submit{
      height: 80px;
      width: 80px;
    }
  }
  .label-text{
    font-size: 18px;
  }
}