@import '../vars.scss';
@media screen and (min-width: 1400px) and (max-width:1920px){
  .bar{
    &__brand{
      width: 150px !important;
      padding: 15px;
    }
    &__options{
      margin: 0px !important;
      width: $max;
      max-height: 44px;
      justify-content: space-around !important;
      box-sizing: content-box !important;
      color: white !important;
    }
    &__item{
      color: white !important;
    }
  }

  .dropdown-item{
    border-left: $borde-blanco !important;
    min-width: $max;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav__icon{
    height: 25px;
  }

  .show{
    display: flex !important;
    flex-direction: row !important;
    border-top: $borde-blanco;
    &+ul{
      position: fixed !important;
      top: 65px !important;
      width: 100vw;
      background-color: black !important;
      justify-content: space-around;
      align-content: stretch !important;
    }
  }
  .header__black{
    background-color: black !important;
    transition: .5s;
  }
}
